{% extends 'base.html' %}

{% block content %}
<div class="articles">
    {% for article in articles %}
        <article>

            {% if article.image_url %}
                <div class="article-image">
                    <img src="{{ article.image_url }}" alt="Image article">
                </div>
            {% endif %}

            <h2>
                <a href="{{ article.link }}" target="_blank">
                    {{ article.title }}
                </a>
            </h2>

            <p class="date">{{ article.published }}</p>
            <p class="source">Source : {{ article.source }} — Thème : {{ article.theme }}</p>

            <p class="summary">
                {{ article.summary }}
            </p>

            <p class="ranking">
                ★ Source : {{ article.source_ranking }}  
                — ★ Article : {{ article.article_ranking }}  
                — Par : {{ article.ranking_author }}
            </p>

        </article>
    {% endfor %}
</div>
{% endblock %}